<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Wybrana data: <span th:text="${date}"></span></p>
<p>Wybrana usługa: <span th:text="${servicename}"></span></p>
<p>Cena usługi: <span th:text="${reservationprice}"></span> zł</p>


<form method="post" action="/book-confirm">
    <input type="text" name="client_name">
    <input type="hidden" name="date" th:value="${date}">
    <input type="hidden" name="serviceid" th:value="${serviceid}">
    <input type="submit" value="Zarezerwuj">
</form>
</body>
</html>